<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Add Category</title>
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
	integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
	crossorigin="anonymous">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">

	
</head>
<body>
	
<!-- ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ -->
	
			<!-- create navigation bar ( header) -->
	<nav class="navbar navbar-inverse navbar-fixed-top">
		<div  class="container">
		
			
			<a  class="navbar-brand ; fas fa-shopping-cart  " href="#" th:href="@{/adminPagee}"> Shoppay</a>
			<a sec:authorize="isAuthenticated()" style="float: right;" class="navbar-brand ; fas fa-sign-out-alt"   href="#" th:href="@{/logout}"> Logout</a>
			<a style="float: right;" class="navbar-brand ; fas fa-user-circle"  href="#" th:href="@{/}" sec:authentication=" principal.FirstName"> </a>
		    <a  style="float: right;" class="navbar-brand ; fas fa-home"   href="#" th:href="@{/adminPagee}"> Home</a>

		</div>
	</nav>
	
	
<!-- ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ -->
<br><br><br><br>
<div class="container">
    <div class="row">
	
        <div class="col-sm-3">
            <form th:action="@{/admin/categories/add}" method="post" th:object="${category}" >
                <input type="hidden" name="id"  th:field="*{id}">
                <div class="form-group">
                    <label for="name">Category Name</label>
                    <input type="text" class="form-control" required th:field="*{name}" name="name" id="name"  placeholder="Enter name">

                </div>

                <button type="submit" class="btn btn-primary" style="width: 80px;">Save</button>
            </form>
    </div>    
    </div>
    </div>


<br><br>



<!-- +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ -->
</body>
</html>