<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Categories</title>
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
	integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
	crossorigin="anonymous">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">

	
</head>
<body>
	
<!-- ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++   -->
	
			<!-- create navigation bar ( header) -->
	<nav class="navbar navbar-inverse navbar-fixed-top">
		<div  class="container">
		
			
			<a  class="navbar-brand ; fas fa-shopping-cart  " href="#" th:href="@{/adminPagee}"> Shoppay</a>
			<a sec:authorize="isAuthenticated()" style="float: right;" class="navbar-brand ; fas fa-sign-out-alt"   href="#" th:href="@{/logout}"> Logout</a>
		    <a  style="float: right;" class="navbar-brand ; fas fa-home"   href="#" th:href="@{/adminPagee}"> Home</a>

		</div>
	</nav>
	
	
<!-- ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ -->
<br><br><br>
<div class="container">

    
   <a th:href="@{/admin/categories/add}" style="margin: 20px 0" class="btn btn-primary">Add Category</a>
<br>
    
    
    
    
    <table class="table">
        <thead class="thead-light">
        <tr>
            <th scope="col">ID</th>
            <th scope="col">Category Name</th>
            <th scope="col">Delete</th>
            <th scope="col">Update</th>
        </tr>
        </thead>
        <tbody>

        <tr th:each="category, iStat : ${categories}">
            <th scope="row" th:text="${iStat.index + 1}">1</th>
            <td th:text="${category.name}">Larry</td>
            <td><a href="" th:href="@{/admin/categories/delete/{id}(id=${category.id})}" class="btn btn-danger">Delete</a></td>
            <td><a href="" th:href="@{/admin/categories/update/{id}(id=${category.id})}" class="btn btn-warning">Update</a></td>

        </tr>
      
        
        </tbody>
    </table>
</div>









<!-- +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ -->
</body>
</html>